*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #b993d6, #8ca6db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grille {
  background: rgb(195,195,195);
  display: grid;
  grid-template: repeat(3, 200px) / repeat(4, 200px);
  width: 800px;
  height: 600px;
  margin: 75px auto 0;
}

.carte {
  background-color: transparent;
  perspective: 1000px;
  margin: 5px;
}

.double-face {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.double-faceFlipped {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.face, .arriere {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.face {
  background: #333;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.face img {
  width: 120px;
}
.arriere {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
.active {
  transform: rotateY(180deg)
}
.unclickable {
  pointer-events: none;
}

.timer {
  display: inline-block;
  margin: 0 1rem;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: linear-gradient(to right, #b993d6, #8ca6db);
  border-radius: 5px;
  width: 85%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2{
  margin-top: 0;
}
.popup content-1,
content-2 {
  max-height: 30%;
  overflow: auto;
  text-align:center;
}

/* .popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: linear-gradient(to right, #b993d6, #8ca6db);
  text-align: center;
  border-radius: 8px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left : 50%;
  margin-left: -80px;
} */
.show{
  visibility: visible !important;
  opacity: 100 !important;
}

.overlay {
  position: fixed;
  top: 70;
  bottom: 70;
  left: 70;
  right: 70;
  background: linear-gradient(to right, #8946bd, #577bc4);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;

}

.overlay:target {
  visibility: visible;
  opacity: 1;
}